body {
    margin: 0;
    background-image: url("../images/ep_naturalwhite.png")
}
.test {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.topper {
    width: 980px;
    box-sizing: border-box;
    text-align: center;
    background: black;
    margin: 0 auto;
    padding: 50px;
    color: white;
}
.topText {
    word-spacing: 15px;
    color: white;
}
.topP {
    color: greenyellow;

}
.gameWrap {
    width: 980px;
    height: 485px;
    margin: 0 auto;
    background: lightgrey;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-auto-columns: 245px 245px 245px 245px;
}
#playerOne {
    background: white;
    text-align: center;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    border: 1px black solid;
}
#playerTwo {
    background: white;
    float: right;
    text-align: center;
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    border: 1px black solid;
}
.msgSection {
    background: lightblue;
    grid-row: 3 / 5;
    grid-column: 1 / 5;
    border: 1px black solid;
    display: grid;
    grid-template-rows: 100px 50px 50px 50px;
    grid-auto-columns: 245px 245px 245px 245px;
}
.messageBoard {
    background: white;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}
form {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}